<div class="col-fluid col-fluid-xl-4 col-fluid-lg-3 col-fluid-md-2 col-fluid-sm-1">
  <div *ngFor="let flux of fluxes" class="panel panel-{{ flux.style || 'default'}} col-fluid-cell"
       id="id-{{ flux.flux.id }}">

    <div class="panel-heading">
      <a href="{{ flux.flux.site.url }}" target="_blank">{{ flux.flux.name }}</a>
      <div class="pull-right">
        <a>
          <md-icon class="rotate">refresh</md-icon>
        </a>
        <a href="{{ flux.flux.url }}" target="_blank">
          <md-icon>rss_feed</md-icon>
        </a>
      </div>
    </div>

    <div class="panel-body">

      <!--{{flux.flux.site.flux | json}}-->

      <div *ngFor="let item of flux.flux.site.flux">
        <a href="{{ item.url }}" target="_blank">
          <span>{{ item.updated_at  | date: 'dd/MM hh:mm' }} : </span>
          {{ item.name }}
        </a>
      </div>

    </div>
  </div>
</div>