<div class="panel panel-{{ flux.style || 'default'}} col-fluid-cell" id="id-{{ flux.flux.id }}">
  <div class="panel-heading">

    <a href="{{ flux.flux.site.url }}" target="_blank">{{ flux.flux.name }}</a>
    <div class="pull-right">
      <a class="material-icons rotate" (click)="refresh(flux.flux.id)">refresh</a>
      <a href="{{ flux.flux.url }}" target="_blank" class="material-icons">rss_feed</a>

      <span dropdown>
        <a class="material-icons" dropdownToggle #bsDropdownToggle="bs-dropdown-toggle">settings</a>
        <form (ngSubmit)="submit()" [formGroup]="form" *dropdownMenu (click)="onEvent($event)"
              class="dropdown-menu dropdown-menu-right form-horizontal">

          <div class="form-group">
            <div class="col-md-offset-5 col-md-7">
              <div class="checkbox">
                <label>
                  <input type="checkbox" formControlName="description"> Description
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="nb_news_{{ flux.flux.id }}" class="control-label col-sm-5">Number of news</label>
            <div class="col-sm-7">
            <input type="number" min="1" formControlName="flux_nb" id="nb_news_{{ flux.flux.id }}"
                   class="form-control">
            </div>
          </div>

          <div class="form-group">
            <label for="color_{{ flux.flux.id }}" class="control-label col-sm-5">Color</label>
            <div class="col-sm-7">
              <!-- use http://valor-software.com/ng2-select/ Rich for color -->
              <select class="form-control" formControlName="style" id="color_{{ flux.flux.id }}">
                <option *ngFor="let style of styles" [value]="style.id">{{ style.name }}</option>
              </select>
            </div>
          </div>

          <div class="form-group form-group-sm">
            <div class="col-sm-12">
              <button [disabled]="!form.valid || loading" class="btn btn-primary pull-right">Save</button>
            </div>
          </div>
        </form>
      </span>

    </div>
  </div>

  <div class="panel-body">

    <div *ngFor="let item of allItems">
      <a href="{{ item.url }}" target="_blank">
        <span>{{ item.date  | date: 'dd/MM HH:mm' }} : </span>
        {{ item.title }}
      </a>
    </div>

  </div>
</div>
