<a class="btn btn-default btn-xs" (click)="refresh()">
  <span class="material-icons rotate">refresh</span>
  Refresh All
</a>
<a routerLink="add">Add</a>
<div class="col-fluid col-fluid-xl-4 col-fluid-lg-3 col-fluid-md-2 col-fluid-sm-1">

  <app-flux *ngFor="let flux of fluxes | async; trackBy: trackById" [flux]="flux" [allItems]="allItems | async | fluxItemsFilter: flux.flux.id"></app-flux>

</div>

<!--<template ngFor let-flux [ngForOf]="fluxes" flux></template>-->

<!--<template ngFor let-flux [ngForOf]="fluxes"><app-flux [flux]="flux"></app-flux></template>-->
<!--<template ngFor let-flux [ngForOf]="fluxes" fff></template>-->
<!--<app-flux *ngFor="let flux of fluxes" [flux]="flux"></app-flux>-->
<!--<div *ngFor="let flux of fluxes" [flux]="flux" app-flux></div>-->
