.col-fluid {
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  column-gap: 1em;
}

.col-fluid-1 {
  -moz-column-count: 1;
  -webkit-column-count: 1;
  column-count: 1;
}

.col-fluid-2 {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}

.col-fluid-3 {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
}

.col-fluid-4 {
  -moz-column-count: 4;
  -webkit-column-count: 4;
  column-count: 4;
}

@media (min-width: 2000px) {
  .col-fluid-xl-1 {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }

  .col-fluid-xl-2 {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }

  .col-fluid-xl-3 {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }

  .col-fluid-xl-4 {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}

@media (min-width: 1200px) and (max-width: 1999px) {
  .col-fluid-lg-1 {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }

  .col-fluid-lg-2 {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }

  .col-fluid-lg-3 {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }

  .col-fluid-lg-4 {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .col-fluid-md-1 {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }

  .col-fluid-md-2 {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }

  .col-fluid-md-3 {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }

  .col-fluid-md-4 {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-fluid-sm-1 {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }

  .col-fluid-sm-2 {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }

  .col-fluid-sm-3 {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }

  .col-fluid-sm-4 {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }

  .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .col-fluid-xs-1 {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }

  .col-fluid-xs-2 {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }

  .col-fluid-xs-3 {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }

  .col-fluid-xs-4 {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }

  .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}
