<h2>FLUXES</h2>
<a routerLink="add">Add</a>
<div class="col-fluid col-fluid-xl-4 col-fluid-lg-3 col-fluid-md-2 col-fluid-sm-1">


  <app-flux *ngFor="let flux of fluxes" [flux]="flux" [items]="items"></app-flux>
  <!--<div *ngFor="let flux of fluxes" [flux]="flux" [items]="items" app-flux class="panel panel-{{ flux.style || 'default'}} col-fluid-cell" id="id-{{ flux.flux.id }}"></div>-->

</div>

<!--<template ngFor let-flux [ngForOf]="fluxes" flux></template>-->

<!--<template ngFor let-flux [ngForOf]="fluxes"><app-flux [flux]="flux"></app-flux></template>-->
<!--<template ngFor let-flux [ngForOf]="fluxes" fff></template>-->
<!--<app-flux *ngFor="let flux of fluxes" [flux]="flux"></app-flux>-->
<!--<div *ngFor="let flux of fluxes" [flux]="flux" app-flux></div>-->
