<div class="modal" bsModal #modal="bs-modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div *ngIf="action == 'login'; then loginBlock else registerBlock"></div>

      <ng-template #loginBlock>
        <form (ngSubmit)="submitLogin()" [formGroup]="formLogin">
          <div class="modal-header">
            <h4 class="modal-title">Login <span>or <a (click)="action = 'register'">Register</a></span></h4>
          </div>
          <div class="modal-body">
            <div class="form-group label-floating">
              <label for="username-login" class="control-label">Username</label>
              <input type="text" formControlName="username" id="username-login" class="form-control">
            </div>

            <div class="form-group label-floating">
              <label for="password-login" class="control-label">Password</label>
              <input type="password" formControlName="password" id="password-login" class="form-control">
            </div>
          </div>
          <div class="modal-footer">
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
            <button [disabled]="!formLogin.valid || loading" class="btn btn-primary">Login</button>
          </div>
        </form>

      </ng-template>
      <ng-template #registerBlock>

        <form (ngSubmit)="submitRegister()" [formGroup]="formRegister">
          <div class="modal-header">
            <h4 class="modal-title">Register <span>or <a (click)="action = 'login'">Login</a></span></h4>
          </div>
          <div class="modal-body">
            <div class="form-group label-floating">
              <label for="email-register" class="control-label">Email</label>
              <input type="text" formControlName="email" id="email-register" class="form-control">
            </div>

            <div class="form-group label-floating">
              <label for="username-register" class="control-label">Username</label>
              <input type="text" formControlName="username" id="username-register" class="form-control">
            </div>

            <div class="form-group label-floating">
              <label for="password-register" class="control-label">Password</label>
              <input type="password" formControlName="password" id="password-register" class="form-control">
            </div>
          </div>
          <div class="modal-footer">
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
            <button [disabled]="!formRegister.valid || loading" class="btn btn-primary">Register</button>
          </div>
        </form>
      </ng-template>

    </div>
  </div>
</div>
